<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net45" />
  <package id="Autofac.Extras.FakeItEasy" version="3.0.2" targetFramework="net45" />
  <package id="AutoMapper" version="5.1.1" targetFramework="net452" />
  <package id="FakeItEasy" version="1.25.2" targetFramework="net45" />
  <package id="FakeItEasy.Automocker" version="1.13.0" targetFramework="net45" />
  <package id="Machine.Specifications.Should-Signed" version="0.7.2" targetFramework="net45" />
  <package id="Machine.Specifications-Signed" version="0.9.1" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
</packages>